body {
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0
}

body::after {
    content: "";
    height: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    filter: brightness(50%);
    background-image: url("images/illustration.jpeg");
    background-position: center center;
    background-size: cover;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation:fadeIn 1s
}


.sign-in-form{

    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    overflow: hidden; 


}

.email-screen{
    background-color: #fff;
    width: 440px;
    height: 380px;
    box-sizing: border-box;
    padding: 35px;
    z-index: 1;
    position: relative;
    
    
}

.get-user{
    position: relative;
    animation: slide-in .6s;
    -webkit-animation: slide-in .6s;
}



/*changed to none -> set back to block*/

.email-sign-in-form{
    display: block;
    position: relative;
}


.verification-screen{
    position: static;
    background-color: #fff;
    width: 440px;
    height: 620px;
    box-sizing: border-box;

}
.verification-form{
    display: none;
    padding: 0; 
}

.call-verify{
    display: none;
    padding: 0; 
}

.sign-in-body-verify{
    position: relative;
    animation: slide-in .6s;
    -webkit-animation: slide-in .6s;
}

.loading-body{
    position: relative;
    animation: slide-in .6s;
    -webkit-animation: slide-in .6s;

}

.sign-in-header-verify{
    padding-top: 38px;
    padding-left:38px;
}

#form-title-verify {
    padding-left: 38px;
    font-size: 25px;
  }
  
.methods{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 800px;
    width: 440px;
}

.text-method, .call-method{
    display: flex;
    flex-direction: row;
    padding-left:38px;
    height: 75px;
    align-items: center;
    border-style: dashed;
    border-width: 1px;
}

.text-method:hover, .call-method:hover{
    background-color: #dbd8d8;
}


#more-info{
    padding-left:38px;
    font-size: 12.5px;
    font-weight: lighter;
    padding-right: 38px;
}

#more-info-verify{

    font-size: 12.5px;
    font-weight: lighter;

}

h6{
    font-weight: lighter;
    font-size: 15px;
    color: #383737;
    padding-left: 15px;
}


.password-sign-in-form{
    display: none;
}

.get-password{
    position: relative;
    animation: slide-in .6s;
    -webkit-animation: slide-in .6s;
}

.get-code{
    position: relative;
    animation: slide-in .6s;
    -webkit-animation: slide-in .6s;
}

.password-screen{
    background-color: #fff;
    width: 440px;
    height: 440px;
    box-sizing: border-box;
    padding: 38px;
}

.text-verify{
    display: none;
}

.text-screen{
    background-color: #fff;
    width: 440px;
    height: 515px;
    box-sizing: border-box;
    padding: 38px;
}

.call-verify{
    display: none;
}

.call-screen{
    background-color: #fff;
    width: 440px;
    height: 475px;
    box-sizing: border-box;
    padding: 38px;
}

.code-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    margin-top: -30px;
    margin-bottom: -20px;
}
.code-message img{
    height: 25px;
    margin-top: -10px;
}

.sign-in-help{
    background-color: #efeded;
    width: 440px;
    height: 120px;
    box-sizing: border-box;
    padding-left: 37px;
    padding-bottom: 37px;
    padding-top: 25px;
    padding-right: 30px;
    line-height: 20px;
    font-size: 14.5px;
    font-weight: lighter;
    position: relative;
    animation: slide-in .6s;
    -webkit-animation: slide-in .6s;
    z-index: 3;
    margin-top: -120px;
}

.sign-in-options{
    position: relative;
    width: 440px;
    height: 50px;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: #efeded;
    display: flex;
    align-items: center;
    padding-left: 35px;

}

.sign-in-next-btn,.sign-in-btn-submit {
    width: 100px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
    float: right;
    margin-right: 20px;
    margin-top: 13px;
    

}
.sign-in-next-btn button, .sign-in-btn-submit{
    background-color: rgb(35, 90, 191);
    outline: none;
    border: none;
    color: #fff;
    font-size: 14px;
    width: 105px;
    height: 32px;
    
    

}


.loading-screen-div{
    display: none;
}

.loading-screen{
    background-color: #fff;
    width: 440px;
    height: 280px;
    box-sizing: border-box;
    padding: 35px;
}

#microsoftLogo{
    height: 30%;
    width: 30%;
}

#marchingAnts{
    padding-top: 20px;
    padding-bottom: 10px;
    color: aqua;
}
#sign-in-next-btn-cancel{
    border: 2px solid rgb(141, 198, 255);
    padding: 3px 15px;
    background-color: white;
    border-radius: .5px;
    color: rgb(35, 90, 191);
}
#btn-cancel{
    border: 2px solid rgb(178, 176, 176);
    padding: 3px 3px;
    background-color: rgb(178, 176, 176);
    border-radius: .5px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 100px;
    font-size: 15px;
    
}

/* animations*/


@-webkit-keyframes fadeIn {
    from {
        opacity:0
    }

    to {
        opacity:1
    }
}

.fadeIn {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation:fadeIn 1s
}

@-webkit-keyframes slide-in {
    from {
        right: -200px;
    }

    to {
        right: 0;
    }
}

@keyframes slide-in {
    from {
      right: -200px;
    }
    to {
      right: 0;
    }
  }

  @-webkit-keyframes slide-out {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  @keyframes slide-out {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  .slide-out{
    -webkit-animation: slide-out .2s forwards;
    -moz-animation: slide-out .2s forwards;
    -o-animation: slide-out .2s forwards;
    animation: slide-out .2s forwards;
    }

.slide-in {
    -webkit-animation: slide-in .2s;
    -moz-animation: slide-in .2s;
    -o-animation: slide-in .2s;
    animation: slide-in .2s;
}

/* animations*/

#btn-cancel-div {
    display: flex;
    justify-content: flex-end; /* align the button to the right */
    padding-right: 50px;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.arrow-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
}

#csulbLogo{
    width: 45%;
    height: 45%
}

#form-title{
    opacity: 0.95;
    font-size: bolder;
    font-size: 24px;
    font-weight:900;
}

#sign-in-key{
    height: 30px;
    width: 30px;
    padding-right: 10px;
    
}

#options-text{
    font-size: 14.5px;
    font-weight: lighter;
    opacity: .85;
}


a:link { 
    text-decoration: none; 
    color: rgb(61, 114, 213);
    
}

a:hover {
    text-decoration: underline; 
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(61, 114, 213);
    width: 350px;
    font: 15px/3 sans-serif;
    line-height: 27px;
}

#username::placeholder {
    color: #676565;
}

input[type="password"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #676565;
    width: 350px;
    font: 15px/3 sans-serif;
    line-height: 27px;
}

input[type="password"]:not(:placeholder-shown) {
    font-size: 30px;
  }




